# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db
desktop.ini

# Firebase Config (rahasia)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
windows/runner/google-services.json

# Build Output
/build/
/coverage/

# File Sementara
*.log
*.tmp

# Environment Variable
.env
.env.local